<div align="center" [hidden]="!x">
  <div style="width:50%;height:40%;padding:35px"class="border border-dark">
  <form novalidate (ngSubmit)="onSubmit(login)" [formGroup]="login">
    <legend><strong>Login</strong></legend>
      <div class="form-group" [ngClass]="{
        'has-danger': login.controls.UserName.invalid && login.controls.UserName.invalid,
        'has-success': login.controls.UserName.valid && login.controls.UserName.dirty
        }">
      
      <span class="col-sm-2 col-form-label" ><strong>Username :</strong></span>
      <input type="text" placeholder="Enter Username" id="username" formControlName="UserName" >
    
      <div class="error text-danger" *ngIf="login.get('UserName').hasError(('required')) && login.get('UserName').touched">
        Username is required
      </div>
    </div>
  <div class="form-group">  
    
        <span class="col-sm-2 col-form-label"><strong>Password :</strong></span>
        <input type="password" placeholder="Enter Password" id="password" formControlName="Password">
      
      <div class="error text-danger" *ngIf="login.get('Password').hasError('required') && login.get('Password').touched">
        Password is required
      </div>
      <div class="error text-danger" *ngIf="login.get('Password').hasError('pattern')">
        Password wrong
      </div>
    </div>
	  <button type="submit" class="btn btn-outline-success" [disabled]="!login.valid">Log In</button>
    <br>    
  </form>
  <a class="nav-link" routerLink="/Register">New User? Register Here</a>
  <!-- <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#exampleModalCenter">
      Click to open Modal
    </a> -->
  </div>
  </div>
<!-- <div class="container" [hidden]="x">
  <div class="jumbotron" align="center">
    <h1>You are Logged In</h1>
    <i class="fa fa-smile-o" style="font-size:36px"></i>
  </div>
</div> -->

<app-alert-modal [title]="title" [body]="body" [bodyDetails]="bodyDetails" [alertSource]="alertSource" [alertHidden]="alertHidden" [hidden]="alertHidden" (okEmit)="closeAlertRoute($event)"></app-alert-modal>
<!-- Modal for Unsuccessfull login Alert -->
<!-- <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{body}}  <br>
          {{bodyDetails}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAlertRoute()">OK</button>
        </div>
      </div>
    </div>
  </div> -->