<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="#">Metallica</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link active" href="#">Trades</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Transfers</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Transports</a></li>
		</ul>
		<ul class="navbar-nav">
			<a class="navbar-brand" href="#">
				<img src="" width="30" height="30" alt="">
			</a>
      <li class="nav-item"><a class="nav-link" href="#">{{ UserName }}</a></li>
	  <!-- <li class="nav-item" onclick="logOut()">LogOut</li> -->
	
	  <li class="nav-item"><a class="nav-link" (click)="logOut()">LogOut</a></li>
	</ul>
	</div>
</nav>

<div class="container">
	<app-price-ticker></app-price-ticker>
	<app-search (searchEmit)="searchReceived($event)"></app-search>
	<div class="row">
		<div class="col-lg px-0 my-2 border border-top-0 shadow-sm bg-white">   
            <app-trade-table [trades]="searchData" (tradeIdEmit)="tradeIdReceive($event)"></app-trade-table>
			  <img src="../assets/add.png" (click)="addTrade()" style="position: absolute; right: 1%; bottom: -20px;"/>
		</div>
		
		<div class="col-lg-4 border my-2 ml-2 px-0 shadow-sm bg-white" [hidden]="hideRightBar">
			<app-add-trade [hidden]="hideAddTrade"></app-add-trade>
			<app-edit-trade [hidden]="hideEditTrade"></app-edit-trade>
			<app-trade-details [hidden]="hideTradeDetails"></app-trade-details>
		</div>
	</div>
</div>