################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/MVC/EquityTradingPlatformApi/EquityTradingPlatformApi/App_Data/EquityTradingPlatformApi.Models.ProjectContext.mdf
