
<form novalidate (ngSubmit)="onSubmit(TradeForm)" [formGroup]="TradeForm">
<div class="container">
  <table>
    <tr style="background-color:darkgray">
      <td>
        <strong>ADD NEW TRADE</strong>
      </td>
      <td align="right"><a href="#">
        <img src="../../../assets/edit.png">
        </a>
        <a href="#">
        <img src="../../../assets/delete.png">
        </a>
      </td>
    </tr>

    <tr>
        <td><label  for="TradeDate"><strong>Date</strong></label></td>
        <td><strong>{{ date | date:'mediumDate' }}</strong>
            <input type="text" hidden formControlName="Date" [(ngModel)]="dateString">
        </td>
    </tr>

    <tr>
            <td><label><strong>Commodity</strong></label></td>
            <td>
            <select id="CommodityDropdown" class="dropdown-content" (change)="onChange($event)"  formControlName="CommodityId">
                <option *ngFor="let Commodity of CommodityList" [value]="Commodity.Id">{{Commodity.Name}}</option>
            </select>
            </td>
        </tr>
        <tr [hidden]=true>
                <td><label><strong>User Id</strong></label></td>
                <td>
                    <input type="text" class="form-control"  formControlName="UserId" [(ngModel)]="Userid" />
                    <input type="text" class="form-control"  formControlName="Status" [(ngModel)]="status"/>
                </td>
        </tr>
        
    <tr>
        <td><label><strong>Side</strong></label></td>
                <td><input type="radio"  formControlName="Side" value="buy">Buy
                <input type="radio" class="col-sm-2" formControlName="Side" value="sell">Sell
                </td>
    </tr>

    <tr>
        <td><label><strong>Counterparty</strong></label></td>
        <td>
        <select id="CounterPartyDropdown" class="dropdown-content" formControlName="CounterPartyId">
            <option *ngFor="let counterParty of CounterPartyList" [value]="counterParty.Id">{{counterParty.Name}}</option>
        </select>
        </td>
    </tr>


     <tr>
        <td><label for="Price"><strong>Price</strong></label></td>
        <td><input type="text" class="form-control" [(ngModel)]="price" formControlName="Price" /></td>
     </tr>

      <tr>
          <td><label for="Quantity"><strong>Quantity</strong></label></td>
          <td><input type="number" min='1' class="form-control" name="Quantity" formControlName="Quantity" required />
            <div class="error text-danger" *ngIf="TradeForm.get('Quantity').hasError('required') && TradeForm.get('Quantity').touched">Quantity is required</div>
          </td>  
      </tr>
      
        <tr>
            <td><label><strong>Location</strong></label></td>
            <td>
              <select id="LocationDropdown" class="dropdown-content"  formControlName="LocationId">
                <option *ngFor="let location of LocationList" [value]="location.Id">{{location.Name}}</option>                
              </select>
            </td>
        </tr>

        <tr><td></td>
         <td  align="right"><button type="button" class="btn">Cancel</button>
          <button type="submit" class="btn" (click)="AddTrade(TradeForm)">Save</button></td>
        </tr>
     </table>
   </div>
</form>