
<form novalidate (ngSubmit)="onSubmit(TradeForm)" [formGroup]="TradeForm">
<div class="container">

    <div class="form-group">
        <label class="control-label col-sm-2" for="TradeDate"><strong>Date</strong></label>
        <div class="col-sm-10">
        
        </div>
    </div>
    <div class=" form-group">
          <label class="control-label col-sm-2"><strong>Commodity</strong></label>
            <div class="container row">
            <div class="col-md-6">
              <select formControlName="Commodity" class="custom-select" >
                <option value="Al">Aluminium</option>
                <option value="Zn">Zinc</option>
                <option value="Cu">Copper</option>
                <option value="Au">Gold</option>
                <option value="Ag">Silver</option>
                <option value="Fe">Iron</option>
              </select>
            </div>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><strong>Side</strong></label>
            <div class="container row">
            <div class="col-md-6">
                <input type="radio"  formControlName="Side" name="side" value="buy">Buy
                <input type="radio"  formControlName="Side" name="side" value="sell">Sell
            </div>
      </div>
    </div>

    <div class=" form-group">
        <label class="control-label col-sm-2"><strong>Counterparty</strong></label>
          <div class="container row">
          <div class="col-md-6">
            <select formControlName="Counterparty" class="custom-select" >
              <option value="Lo">Lorem</option>
              <option value="Ip">Ipsum</option>
              <option value="Do">Dolor</option>
              <option value="Da">Darvy</option>
              <option value="Co">Coret</option>
              <option value="Ve">Verty</option>
              <option value="Ma">Marlo</option>
              <option value="Tr">Tryna</option>
              <option value="Li">Lipto</option>
            </select>
          </div>
        </div>
     </div>

     <div class="form-group">
        <label class="control-label col-sm-2" for="Price"><strong>Price</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="Price" formControlName="Price" readonly />
        </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="Quantity"><strong>Quantity</strong></label>
          <div class="col-sm-10">
            <input type="number" min='1' class="form-control" name="Quantity" formControlName="Quantity" required />
            <div class="error text-danger" *ngIf="TradeForm.get('Quantity').hasError('required') && TradeForm.get('Quantity').touched">Quantity is required</div>
          </div>
        </div>
      
        <div class=" form-group">
            <label class="control-label col-sm-2"><strong>Location</strong></label>
              <div class="container row">
              <div class="col-md-6">
                <select formControlName="Location" class="custom-select" >
                  <option value="Lo">London</option>
                  <option value="Ny">New York</option>
                  <option value="It">Italy</option>
                  <option value="De">Denmark</option>
                  <option value="La">Latvia</option>
                  <option value="Si">Singapore</option>
                  <option value="Sr">Srilanka</option>
                  <option value="Sw">Switzerland</option>
                  <option value="Ma">Mauritius</option>
                  <option value="Ne">Netherlands</option>
                </select>
              </div>
            </div>
         </div>
         <button type="button" class="btn">Cancel</button>
         <button type="submit" class="btn" [disabled]="!TradeForm.valid">Save</button>
   </div>
</form>