<form></form>
<div class="row border p-2 mt-2 shadow-sm bg-white">

	<div class="col-lg-2">
		Trade Date
		<angular2-date-picker [(ngModel)]="dateFrom" [settings]="settings" (onDateSelect)="onDateSelect($event)">
		</angular2-date-picker>
		<angular2-date-picker [(ngModel)]="dateTo" [settings]="settings" (onDateSelect)="onDateSelect($event)">
		</angular2-date-picker>
	</div>

	<div class="col-lg-2">
		Commodity
		<br />
		<select>
			<option *ngFor="let e of commodity" value="e.Id">{{e.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2">
		Side
		<div class="radio">
			<label><input type="radio" name="side">Buy</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="side">Sell</label>
		</div>
	</div>

	<div class="col-lg-2">
		Counterparty
		<br />
		<select>
			<option *ngFor="let e of location" value="e.Id">{{e.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2">
		Location
		<br />
		<select>
			<option *ngFor="let e of counterParty" value="e.Id">{{e.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2">
		<button>Clear</button>
		<button>Search</button>
	</div>
</div>
