<form [formGroup]="searchForm">
<div class="row border p-2 mt-2 shadow-sm bg-white">
	<div class="col-lg-4 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1 mb-0">Date</label>
		<div class="row">
			<div class="col-6 pr-lg-1">
				<label class="mb-0">From</label>
				<input type="date" class="form-control mb-1" name="date" formControlName="dateFrom">
			</div>
			<div class="col-6 pl-0">
				<label class="mb-0">To</label>
				<input type="date" class="form-control mb-1" name="date" formControlName="dateTo">
			</div>
		</div>
	</div>

	<div class="col-lg-1 my-auto form-group">
		<label class="h6 border-bottom pr-2 pl-1 mb-1" for="side">Side</label>
		<div class="row pl-3">
			<div class="col-2 col-lg form-check">
				<input class="form-check-input" type="checkbox" id="buySide" value="buy" formControlName="buy">
				<label class="form-check-label" for="buySide">Buy</label>
			</div>
			<div class="col form-check">
				<input class="form-check-input" type="checkbox" id="sellSide" value="sell" formControlName="sell">
				<label class="form-check-label" for="sellSide">Sell</label>
			</div>
		</div>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Commodity</label>
		<select class="form-control" formControlName="commodity">
			<option></option>
			<option *ngFor="let commodity of commodities" [value]="commodity.Id">{{commodity.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Counterparty</label>
		<select class="form-control" formControlName="counterParty">
			<option></option>
			<option *ngFor="let counterParty of counterParties" [value]="counterParty.Id">{{counterParty.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Location</label>
		<select class="form-control" formControlName="location">
			<option></option>
			<option *ngFor="let location of locations" [value]="location.Id">{{location.Name}}</option>
		</select>
	</div>
	
	<div class="col-lg-1 my-lg-auto mt-md-1 pl-lg-0">
		<div class="row px-2">
			<input type="button" class="col btn btn-primary btn-sm m-1" value="Search" (click)="onSubmit(searchForm)"/>
			<input type="reset" class="col btn btn-secondary btn-sm m-1" value="Clear"/>
		</div>
	</div>	
</div>
</form>

<!-- <app-alert-modal [title]="title" [body]="body" [bodyDetails]="bodyDetails" [alertSource]="alertSource" [alertHidden]="alertHidden" [hidden]="alertHidden" (okEmit)="closeAlertRoute($event)"></app-alert-modal> -->


<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title" id="SearchModalLabel">{{title}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				{{body}}  <br>
				{{bodyDetails}}
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAlertRoute()">Ok</button>
			</div>
		</div>
	</div>
</div>