<form [formGroup]="searchForm">
<div class="row border p-2 mt-2 shadow-sm bg-white">
	<div class="col-lg-4 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1">Date</label>
		<div class="row">
			<div class="col-lg-6 pr-1">
				<label class="mb-0">From</label>
				<input type="date" class="form-control pr-1 mb-1" name="date" formControlName="dateFrom">
			</div>
			<div class="col-lg-6 pl-1">
				<label class="mb-0">To</label>
				<input type="date" class="form-control pr-1 mb-1" name="date" formControlName="dateTo">
			</div>
		</div>
	</div>

	<div class="col-lg-1 my-auto form-group">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Side</label>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="buySide" value="buy" formControlName="buy">
			<label class="form-check-label" for="buySide">Buy</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="sellSide" value="sell" formControlName="sell">
			<label class="form-check-label" for="sellSide">Sell</label>
		</div>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Commodity</label>
		<select class="form-control" formControlName="commodity">
			<option></option>
			<option *ngFor="let commodity of commodities" [value]="commodity.Id">{{commodity.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Counterparty</label>
		<select class="form-control" formControlName="counterParty">
			<option></option>
			<option *ngFor="let counterParty of counterParties" [value]="counterParty.Id">{{counterParty.Name}}</option>
		</select>
	</div>

	<div class="col-lg-2 form-group my-auto">
		<label class="h6 border-bottom pr-2 pl-1" for="side">Location</label>
		<select class="form-control" formControlName="location">
			<option></option>
			<option *ngFor="let location of locations" [value]="location.Id">{{location.Name}}</option>
		</select>
	</div>
	
	<div class="col-lg-1 form-group my-auto">
		<input type="button" class="btn btn-primary btn-sm btn-block" value="Search" (click)="onSubmit(searchForm)"/>
		<input type="reset" class="btn btn-primary btn-sm btn-block" value="Clear" data-toggle="modal" data-target="#exampleModalCenter"/>
	</div>	
</div>
</form>