<div align="center">
  <div style="width:50%;height:40%;padding:35px"class="border border-dark">
  <form novalidate (ngSubmit)="onSubmit(buy)" [formGroup]="buy">
    <legend><strong>Buy</strong></legend>

    <div class="form-group">
      <label>
      <span class="col-sm-2 col-form-label" ><strong>Quantity :</strong></span>
      <input type="number" min="1" formControlName="Quantity" >
    </label>
    <div class="error text-danger" *ngIf="buy.get('Quantity').hasError(('required')) && buy.get('Quantity').touched">Quantity is required</div>
      </div>

    <div class="form-group" >
     
          <span  class="col-sm-2 col-form-label"><strong> Price :</strong></span>
          <input type="radio" name="limit" > Current Price
          <input type="radio" name="limit" > Limit Price
          <input type="text">
          
        
        <div class="error" *ngIf="buy.get('LimitPrice').hasError(('required')) && buy.get('LimitPrice').touched"></div>
      </div>

  <div class="form-group">  
    <label>
        <span class="col-sm-2 col-form-label"><strong>Stop Loss :</strong></span>
        <input type="text">
      </label>
    </div>

      <button type="submit" class="btn btn-outline-primary" [disabled]="!buy.valid">Create Order</button>
  </form>
  </div>
  </div>
  
 
