<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="#">Metallica</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link active" href="#">Trades</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Transfers</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Transports</a></li>
		</ul>
		<ul class="navbar-nav">
			<a class="navbar-brand" href="#">
				<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
			</a>
			<li class="nav-item"><a class="nav-link" href="#">UserName</a></li>
		</ul>
	</div>
</nav>

<div class="container">
		
	<app-price-ticker></app-price-ticker>

	<div class="row border p-2 mt-2 shadow-sm">
		Search
	</div>

	<div class="row">
		<div class="col-lg px-0 my-2 border border-top-0 shadow-sm">   
            <app-trade-table></app-trade-table>
            <!-- <a href="#">
				<span class="glyphicon glyphicon-plus-sign"></span>
			  </a> -->
			  <img src="../assets/add.png" />
		</div>
		
		<div class="col-lg-4 border my-2 ml-2 shadow-sm" [hidden]="hideRightBar">
			<app-add-trade [hidden]="hideAddTrade"></app-add-trade>
			<app-edit-trade [hidden]="hideEditTrade"></app-edit-trade>
			<app-trade-details [hidden]="hideTradeDetails"></app-trade-details>
		</div>
	</div>
</div>