<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Metallica</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Trades</a></li>
			<li><a href="#">Transfers</a></li>
			<li><a href="#">Transport</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row" style="background-color: aqua"> Price Ticker </div>

	<div class="row" style="background-color: cadetblue"> Search </div>

	<div class="row" style="background-color: cornflowerblue">
        <div class="col-lg-8" style="background-color: burlywood">
           
            <app-trade-table></app-trade-table>
            <img style="float: right;" src="../assets/add.png" />
        </div>
		<div class="col-lg-4" style="background-color: aqua" [hidden]= "hideAddTrade">
			Add Trade
			<app-add-trade></app-add-trade>
		</div>
		<div class="col-lg-4" style="background-color: aqua" [hidden]= "hideEditTrade">
			Edit Trade
			<app-edit-trade></app-edit-trade>
		</div>
		<div class="col-lg-4" style="background-color: aqua" [hidden]= "hideTradeDetails">
			Trade Details
			<app-trade-details></app-trade-details>
		</div>
	</div>

</div>
