<table class="table ">
  <th>Trade Date</th>
  <th>Commodity</th>
  <th>Side</th>
  <th>Qty(MT)</th>
  <th>Price(/MT)</th>
  <th>Counterparty</th>
  <th>Location</th>
  <th></th>
  <tr>
  <td>22/01/17</td>
  <td>Copper</td>
  <td>Buy</td>
  <td>100</td>
  <td>856</td>
  <td>ABN</td>
  <td>India</td>
  <td><img src="../../../assets/delete.png" /></td>
  </tr>
  <tr>
		<td>22/01/17</td>
		<td>Copper</td>
		<td>Buy</td>
		<td>100</td>
		<td>856</td>
		<td>ABN</td>
		<td>India</td>
		<td><img src="../../../assets/delete.png" /></td>
		</tr>
		<tr>
				<td>22/01/17</td>
				<td>Copper</td>
				<td>Buy</td>
				<td>100</td>
				<td>856</td>
				<td>ABN</td>
				<td>India</td>
				<td><img src="../../../assets/delete.png" /></td>
				</tr>
				<tr>
						<td>22/01/17</td>
						<td>Copper</td>
						<td>Buy</td>
						<td>100</td>
						<td>856</td>
						<td>ABN</td>
						<td>India</td>
						<td><img src="../../../assets/delete.png" /></td>
						</tr>
</table>