<table class="table table-fixed">
<thead >
	<tr>
		<th class="col-xs-8">Trade Date</th>
		<th class="col-xs-8">Commodity</th>
		<th class="col-xs-8">Side</th>
		<th class="col-xs-8">Qty(MT)</th>
		<th class="col-xs-8">Price(/MT)</th>
		<th class="col-xs-8">Counterparty</th>
		<th class="col-xs-8">Location</th>
		<th class="col-xs-8"></th>
	</tr>
</thead>
<tbody>
  <tr *ngFor = "let trade of trades;">
    <td>{{trade.Date}}</td>
    <td>{{trade.Commodity.Name}} | {{trade.Commodity.Code}}</td>
    <td>
		<span *ngIf="trade.Side == 0">Buy</span>
		<span *ngIf="trade.Side == 1">Sell</span>
	</td>
	<td>{{trade.Quantity}}</td>  
	<td>{{trade.Price | currency:'INR':2}}</td>      
	<td>{{trade.CounterParty.Name}} | {{trade.CounterParty.Code}}</td>      
	<td>{{trade.Location.Name}} | {{trade.Location.Code}}</td> 	
	<td><img src="../../../assets/delete.png" /></td>
  </tr>
</tbody>
  <!-- <tr>
  <td>22/01/17</td>
  <td>Copper</td>
  <td>Buy</td>
  <td>100</td>
  <td>856</td>
  <td>ABN</td>
  <td>India</td>
  <td><img src="../../../assets/delete.png" /></td>
  </tr>
  <tr>
		<td>22/01/17</td>
		<td>Copper</td>
		<td>Buy</td>
		<td>100</td>
		<td>856</td>
		<td>ABN</td>
		<td>India</td>
		<td><img src="../../../assets/delete.png" /></td>
		</tr>
		<tr>
				<td>22/01/17</td>
				<td>Copper</td>
				<td>Buy</td>
				<td>100</td>
				<td>856</td>
				<td>ABN</td>
				<td>India</td>
				<td><img src="../../../assets/delete.png" /></td>
				</tr>
				<tr>
						<td>22/01/17</td>
						<td>Copper</td>
						<td>Buy</td>
						<td>100</td>
						<td>856</td>
						<td>ABN</td>
						<td>India</td>
						<td><img src="../../../assets/delete.png" /></td>
						</tr> -->
</table>