<table class="table ">
  <th>Trade Date</th>
  <th>Commodity</th>
  <th>Side</th>
  <th>Qty(MT)</th>
  <th>Price(/MT)</th>
  <th>Counterparty</th>
  <th>Location</th>
  <th></th>
  <tr *ngFor = "let trade of trades;">
    <td>{{trade.Date}}</td>
    <td>{{trade.Commodity.Name}} | {{trade.Commodity.Code}}</td>
    <td>
		<span *ngIf="trade.Side == 0">Buy</span>
		<span *ngIf="trade.Side == 1">Sell</span>
	</td>
	<td>{{trade.Quantity}}</td>  
	<td>{{trade.Price}}</td>      
	<td>{{trade.CounterParty.Name}} | {{trade.CounterParty.Code}}</td>      
	<td>{{trade.Location.Name}} | {{trade.Location.Code}}</td> 	
	<td><img src="../../../assets/delete.png" /></td>
  </tr>
  <!-- <tr>
  <td>22/01/17</td>
  <td>Copper</td>
  <td>Buy</td>
  <td>100</td>
  <td>856</td>
  <td>ABN</td>
  <td>India</td>
  <td><img src="../../../assets/delete.png" /></td>
  </tr>
  <tr>
		<td>22/01/17</td>
		<td>Copper</td>
		<td>Buy</td>
		<td>100</td>
		<td>856</td>
		<td>ABN</td>
		<td>India</td>
		<td><img src="../../../assets/delete.png" /></td>
		</tr>
		<tr>
				<td>22/01/17</td>
				<td>Copper</td>
				<td>Buy</td>
				<td>100</td>
				<td>856</td>
				<td>ABN</td>
				<td>India</td>
				<td><img src="../../../assets/delete.png" /></td>
				</tr>
				<tr>
						<td>22/01/17</td>
						<td>Copper</td>
						<td>Buy</td>
						<td>100</td>
						<td>856</td>
						<td>ABN</td>
						<td>India</td>
						<td><img src="../../../assets/delete.png" /></td>
						</tr> -->
</table>