<div class="container">
  <br>
  <div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" #search (onchange)="Search(search.value)">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="Search(search.value)">Search</button>
      <button style="margin-left:5px" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="getStocks()">Update Stocks</button>
    </form>
  </div>
  <br>



    
<div class="form-group col-lg-12 col-md-12 col-sm-12">
    <div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
      <tr class="table-primary">
        <th scope="col" ><i class="fa fa-arrow-up" (click)="sort_stock_Name_ascending()"></i>Stock Name<i class="fa fa-arrow-down" (click)="sort_stock_Name_descending()"></i></th>
        <th scope="col">Symbol</th>
        <th scope="col"><i class="fa fa-arrow-up" (click)="sort_CurPrice_ascending()"></i>Current Price<i class="fa fa-arrow-down" (click)="sort_CurPrice_descending()"></i></th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of StockShow">
        <td>{{s.Name}}</td>
        <td>{{s.Symbol}}</td>
        <td>{{s.CurrentPrice}}</td>
        <td>
			<div *ngIf="trader; else pm">
				<a routerLink="/Trader/Buy"><button type="button" class="btn btn-warning" (click)="Buy(s)">Buy</button></a>
			</div>
			<ng-template #pm>
				<a routerLink="/Portfoliomanager/SelectTrader"><button type="button" class="btn btn-warning" (click)="Buy(s)">Select Trader</button></a>
			</ng-template>
		</td>
     
      </tr>
    </tbody>
</table>
</div>
</div>
</div>


