<div>
  <div style="float: right;">
      <input type="button" value="Add Traders from file" (click)="file.click()" class="btn btn-info">
      <input id="fileupload" name="fileupload" type="file" [hidden]="true" (change)="handleFile($event)" ng-model="files" ng-file-select="onFileSelect(files)" ng-multiple="false" accept=".xls,.xlsx" #file>
  </div>
  <div class="container row">
  <div>
  <table class="table table-light table-hover scroll" >
  <thead><legend>Traders pending for approval</legend></thead>
      <tr class="table-secondary">
          <th>Name</th>
          <th>Trader Id</th>
          <th>Action</th>
      </tr>         
      <tr *ngFor = "let e of listunapproved">
          <td>{{e.Name}}</td>
          <td>{{e.Id}}</td>
          <button class="btn btn-outline-success" style="width: 150px">Approve</button>
      </tr>         
  </table>
  </div>
  <div style="margin-left: 150px">
  <table class="table table-light table-hover scroll">
  <thead><legend>Traders approved</legend></thead>
      <tr class="table-secondary">
          <th>Name</th>
          <th>Trader Id</th>
          <th>Action</th>
      </tr>     
      <tr *ngFor = "let e of listapproved; let i=index">
          <td>{{e.Name}}</td>
          <td>{{e.Id}}</td>
          <button class="btn btn-outline-danger"  >Disapprove</button>
      </tr>      
  </table>
  </div>
 </div>


</div>

