

<h1>Current Position</h1>

<button class="btn btn-secondary" (click)="getPosition()">Get Current Position</button>        

<table class="table table-hover">
	<thead>
		<tr class="table-danger">
			<th>Stock (Symbol)</th>
			<th>Volume Bought</th>
			<th>Buying Price</th>
			<th>Current Price</th>
			<th>Total Value</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>     
		<tr class="table-light" *ngFor = "let e of list">
			<td>{{e.Stock_Name}} ({{e.Symbol}})</td>
			<td>{{e.Quantity}}</td>
			<td>{{e.Buying_Price}}</td>
			<td>{{e.Current_Price}}</td>
			<td>{{e.Total_Value}}</td>
			<td>
				<a routerLink="/Trader/Sell" >  <button type="button" class="btn btn-warning" (click)="Sell(s)">Sell</button></a>
			</td>
		</tr> 
	</tbody>
</table> 