<app-adminlogin></app-adminlogin>
<app-login></app-login>
<app-admin-stock-manage></app-admin-stock-manage>
<app-block-creation></app-block-creation>
<app-search></app-search>
<app-buyrequest></app-buyrequest>
<app-admin-trader-add></app-admin-trader-add>
<app-admin-portfoliomanager-add></app-admin-portfoliomanager-add>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Blocks">Block-Creation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Buy">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Login">Log-In</a>
          </li>
      </ul>
     
    </div>
  </nav>

 

