<form [formGroup]="tradeForm">
  	<table>
      	<tr style="background-color:darkgray">
        	<th>TRADE ID:</th>
        	<td align="right">
				<a href="#"><img src="../../../assets/edit.png"></a>
				<a href="#"><img src="../../../assets/delete.png"></a>
        	</td>
		</tr>
  
      	<tr>
			<th><label for="tradeDate">Date</label></th>
			<td>
				<input type="text" [hidden]="!details" disabled>
				<input type="date" [hidden]="details">
			</td>
      	</tr>
  
		<tr>
			<th><label for="commodity">Commodity</label></th>
			<td>
				<select [disabled]="details">
					<option *ngFor=""></option>
				</select>
			</td>
		</tr>

		<tr>
			<th><label for="side">Side</label></th>
			<td>
				<input type="radio" formControlName="side">
				<input type="radio" formControlName="side">
			</td>
		</tr>
  
		<tr>
			<th><label for="counterparty">CounterParty</label></th>
			<td>
				<select formControlName="counterparty">
					<option *ngFor=""></option>
				</select>
			</td>
		</tr>
  
		<tr>
			<th><label for="price">Price</label></th>
			<td>
				<input formControlName="price">
			</td>
		</tr>
  
		<tr>
			<th><label for="quantity">Quantity</label></th>
			<td>
				<input formControlName="quantity">
			</td>
		</tr>
        
		<tr>
			<th><label for="location">Location</label></th>
			<td>
				<select [disabled]="details">
					<option *ngFor=""></option>
				</select>
			</td>
		</tr>

	</table>
</form>
