<form [formGroup]="tradeForm">
  	<table>
      	<tr style="background-color:darkgray">
        	<th>TRADE ID:</th>
        	<td align="right">
				<a (click)="onEditClick()"><img src="../../../assets/edit.png"></a>
				<a (click)="onDeleteClick()"><img src="../../../assets/delete.png"></a>
        	</td>
		</tr>
  
      	<tr>
			<th><label for="tradeDate">Date</label></th>
			<td>
				<input type="date" formControlName="Date" [ngModel] ="trade.Date | date:'yyyy-MM-dd'">
			</td>
      	</tr>
  
		<tr>
			<th><label for="commodity">Commodity</label></th>
			<td>
				<select formControlName="CommodityId">
					<option *ngFor="let c of commodities" [value]="c.Id">{{c.Name}}</option>
				</select>
			</td>
		</tr>

		<tr>
			<th><label for="side">Side</label></th>
			<td>
				<input type="radio" formControlName="Side" [value]="0">Buy
                <input type="radio" formControlName="Side" [value]="1">Sell
			</td>
		</tr>
  
		<tr>
			<th><label for="counterparty">CounterParty</label></th>
			<td>
				<select id="abc" formControlName="CounterPartyId">
					<option *ngFor="let cp of counterParties" [value]="cp.Id">{{cp.Name}}</option>
				</select>
			</td>
		</tr>
  
		<tr>
			<th><label for="price">Price</label></th>
			<td>
				<input formControlName="Price" [(ngModel)]="trade.Price">
			</td>
		</tr>
  
		<tr>
			<th><label for="quantity">Quantity</label></th>
			<td>
				<input formControlName="Quantity" [(ngModel)]="trade.Quantity"> 
			</td>
		</tr>
        
		<tr>
			<th><label for="location">Location</label></th>
			<td>
				<select formControlName="LocationId" >
					<option *ngFor="let l of locations" [value]="l.Id">{{l.Name}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<input type="button" class="btn" value="Submit" (click)="onSubmit(tradeForm.value)"/>
				<input type="button" class="btn" value="Edit" (click)="onEditClick()" />
			</td>
		</tr>
	</table>
</form>
