<div class="row border p-1 my-2 shadow-sm bg-white">
	<div class="col">
		<span class="border-bottom">Stock Name</span>
		<br />
		<span>Stock Price</span>
	</div>
	
	<div class="col">
		<span class="border-bottom">Stock Name</span>
		<br />
		<span>Stock Price</span>
	</div>

	<div class="col">
		<span class="border-bottom">Stock Name</span>
		<br />
		<span>Stock Price</span>
	</div>

	<div class="col">
		<span class="border-bottom">Stock Name</span>
		<br />
		<span>Stock Price</span>
	</div>

</div>