<div class="container">
  
  <br>
  <div class="form-group col-lg-12 col-md-12 col-sm-12">
    <h3>Pending Orders</h3>
    <div>
      <br>
      <input type="button" class="btn btn-outline-primary" value="Update Pending Orders" (click)="getOrders()" />
    </div>
    <br>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="table-info">
            <th scope="col" >StocksId</th>
            <th scope="col">OrderSide</th>
            <th scope="col">OrderType</th>
            <th scope="col"><i class="fa fa-arrow-up" (click)="sort_CurPrice_ascending()"></i>Quantity<i class="fa fa-arrow-down" (click)="sort_CurPrice_descending()"></i></th>
            <th scope="col">LimitPrice</th>
            <th scope="col">StopPrice</th>
            <th scope="col">DateAdded</th>
            <th scope="col">OrderStatus</th>
            <th scope="col">Action</th>
            <div [hidden]="usertype">
            <th scope="col">Create Block / Add to Existing </th>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of ListStocks;let i=index">
            <td>{{l.StocksId}}</td>
            <td>{{l.OrderSide}}</td>
            <td>{{l.OrderType}}</td>
            <td>{{l.Quantity}}</td>
            <td>{{l.LimitPrice}}</td>
            <td>{{l.StopPrice}}</td>
            <td>{{l.DateAdded}}</td>
            <td>{{l.OrderStatus}}</td>
            <td><input type="button" class="btn btn-warning" value="Modify" (click)="Index(l.Id);id.value=l.Id;user.value=l.UserId;stock.value=l.StocksId;
                side.value=l.OrderSide;type.value=l.OrderType;quantity.value=l.Quantity;limit.value=l.LimitPrice;stop.value=l.StopPrice;date.value=l.DateAdded;
                status.value=l.OrderStatus; ToggleTextboxes(type.value); divhide=false;"/></td>
                <div [hidden]="usertype">
             <td><input type="button" class="btn btn-outline-primary" style="margin-top: 2px" value="Create Block" (click)="blocknew(l.Id);pending=false" />
             <input type="button" class="btn btn-outline-primary" style="margin-top: 2px" value="Add to Existing Block" (click)="blockexisting(l.Id);partial=false" /></td>
                </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" [hidden]="pending">
      <h3>Pending/Partial Blocks</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
                <th>Block Status</th>
                <th>Block Side</th>
                <th>Stock Name</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of pendingblock;let i=index">
              <td>{{b.BlockStatus}}</td>
              <td>{{b.Side}}</td>
              <td>{{b.StockName}}</td>
              <td><input type="button" value="Execute" class="btn btn-outline-primary" (click)="executepending(b.Id)" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" [hidden]="partial">
        <h3>Partial Blocks</h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>Block Status</th>
                  <th>Block Side</th>
                  <th>Stock Name</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of partialblock;let i=index">
                <td>{{b.BlockStatus}}</td>
                <td>{{b.Side}}</td>
                <td>{{b.StockName}}</td>
                <td><input type="button" value="Execute" class="btn btn-outline-primary" (click)="executepartial(b.Id)" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  <br>
  <div  class="col-md-12 col-sm-12" [hidden]="divhide">
    <h3 class="jumbotron" style="text-align: center">Modify Order</h3>
    <div class="form-group" [hidden]=true>
        <label>Id</label>
        <input  class="form-control" type="text" #id/>
    </div>
    <div class="form-group" [hidden]=true>
        <label>User Id</label>
        <input class="form-control" type="text" #user/>
    </div>
    <div  class="form-group" [hidden]=true>
        <label>Stocks Id</label>
        <input class="form-control" type="text" #stock/>
    </div>
    <div class="form-group">
        <label>Order Side</label>
        <input class="form-control" type="text" #side [disabled]=true/>
    </div>
    <div class="form-group">
        <label>Order Type</label>
        <input class="form-control" type="text" [disabled]=true #type/>
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input class="form-control" type="text" #quantity/>
    </div>
    <div class="form-group" [hidden]="hidelimit">
        <label>Limit Price</label>
        <input class="form-control" type="text" #limit/>
    </div>
    <div class="form-group" [hidden]="hidestop">
        <label>Stop Price</label>
        <input class="form-control" type="text" #stop/>
    </div>
    <div class="form-group" [hidden]=true>
        <label>Date Added</label>
        <input class="form-control" type="text" #date/>
    </div>
    <div class="form-group" [hidden]=true>
        <label>Order Status</label>
        <input class="form-control" type="text" #status/>
    </div>
    <div>
        <input type="button" class="btn btn-default" value="Save Changes" (click)="ModifyOrder(id.value,user.value,
        stock.value,side.value,type.value,quantity.value,limit.value,stop.value,date.value,status.value); divhide=true;" />
    </div>
  </div>
  
</div>


