table{
    column-width: 5px;
}
table td   {
text-align: left;
}
table th  {
    text-align: left;
    }
h1{
    text-align: center;
}

table tbody{
    overflow-y: scroll;
    display :inline-block;
    height: 200px;
    
}
table td{
    width: 160px;
}
table  th{
    width: 144px;
}
table thead{

    display :block;
}