<div>
  <div style="float: right;">
      <input type="button" value="Add Portfolio Managers from file" (click)="file.click()" class="btn btn-info">
      <input id="fileupload" name="fileupload" type="file" [hidden]="true" (change)="handleFile($event)" ng-model="files" ng-file-select="onFileSelect(files)" ng-multiple="false" accept=".xls,.xlsx" #file>
  </div>
  <div class="container row">
  <div>
  <table class="table table-light table-hover scroll" >
  <thead><legend>Portfolio Manager pending for approval</legend></thead> 
     <tr class="table-danger">
          <th>Name</th>
          <th>Portfolio Manager Id</th>
          <th>Action</th>
        </tr>
   
      <tr *ngFor = "let e of listunapproved">
          <td>{{e.Name}}</td>
          <td>{{e.Id}}</td>
          <button class="btn btn-outline-success" (click)="Toggle(e)" style="width: 170px">Approve</button>
      </tr>
        
  </table>
  </div>
  <div style="margin-left: 10px">
  <table class="table table-light table-hover scroll">
  <thead><legend>Portfolio Manager approved</legend></thead>
      <tr class="table-danger">
          <th>Name</th>
          <th>Portfolio Manager Id</th>
          <th>Action</th>
      </tr>
      <tr *ngFor = "let e of listapproved">
          <td>{{e.Name}}</td>
          <td>{{e.Id}}</td>
          <button class="btn btn-outline-danger" (click)="Toggle(e)">Disapprove</button>
      </tr>
  </table>
  </div>
 </div> 
</div>



